input[text] {
  cursor: pointer;
  border: none;
  padding: var(--p-xs);
  border-radius: var(--br-xxs);
  color: var(--tx-light);
}

input.primary  {
  background-color: var(--primary); 
}

/* .button.primary:hover {
  background-color: var(--primary-light);
}

.button:disabled {
  background-color: var(--disabled);
}

.button.secondary {
  background-color: var(--secondary-dark);
  color: var(--tx-dark);
}

.button.secondary:hover {
  background-color: var(--secondary);
  color: var(--tx-dark);
}

.button.warn {
  background-color: var(--warn-light);
  color: var(--tx-dark);
}

.button.warn:hover {
  background-color: var(--warn);
  color: var(--tx-dark);
} */